@model IEnumerable<kmutt_x_covid.Models.BuildingStampIn> 
    @* @model kmutt_x_covid.Controllers.HomeController *@

@{
    ViewData["Title"] = "Timeline";
    Layout="~/Views/Shared/_LayoutUser.cshtml";

}


    
    
<div class="text-center">
    
    
    <table class="table">
        <thead>
        <tr style="background-color: orange; border-radius:2rem">
            <th>Id</th>
            <th>Date</th>
            <th>Time</th>
            <th>Building</th>
            <th>Floors</th>
        </tr>
        </thead>
        <tbody>
            
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdNavigation.Id)
                    </td>
                    <td>
                        <span>
                        @Html.DisplayFor(modelItem => item.TimeIn.Day)
                        </span>/
                        <span>
                            @Html.DisplayFor(modelItem => item.TimeIn.Month)
                        </span>/
                        <span>
                            @Html.DisplayFor(modelItem => item.TimeIn.Year)
                        </span>
                    </td>
                    <td>
                        <span>
                            @Html.DisplayFor(modelItem => item.TimeIn.Hour)
                        </span>:
                        <span>
                            @Html.DisplayFor(modelItem => item.TimeIn.Minute)
                        </span>:
                        <span>
                            @Html.DisplayFor(modelItem => item.TimeIn.Second)
                        </span>
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Building.BuildingName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem=> item.Floors)
                    </td>
                    
                
                </tr>
            }
        </tbody>
    </table>
</div>